body {
	font-family: "Oxygen";
	font-size: 1.5rem;
	color: white;
	background-color: #383838;
}

canvas {
	border: 1px solid white;
}

#game-window {
	background-color: #586574;
	border: 2px solid white;
	border-radius: 4px;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.game-section {
	vertical-align: middle;
	text-align: center;
	font-size: 2rem;
}

h1 {
	color: white;
	font-size: 5rem;
	font-family: "Oxygen mono";
	margin-left: 2rem;
}

#game-info p {
	border: 2px solid white;
	border-radius: 4px;
}

#game-info {
	line-height: 4rem;
	margin-right: 2rem;
}

li {
	list-style-type: none;
}

ul {
	display: inline-block;
}
.list-left {
	text-align: left;
	padding-left: 2rem;
}

#game-controls {
	border: 2px solid white;
	border-radius: 4px;
	margin-left: 2rem;
	padding-right: 1rem;
}

#game-controls,
#game-info {
	margin-top: 4rem;
	font-size: 2.2rem;
}

#button {
	cursor: pointer;
	color: white;
	position: relative;
	top: -26rem;
	background-color: hsla(212, 13.7%, 40%, 0.8);
	display: inline-block;
	padding: 0.1rem 2.5rem;
	border: 2px solid #ffc989;
}

#game-over {
	position: relative;
	top: -37.75rem;
	font-family: "Oxygen";
	font-size: 4.5rem;
	background-color: hsla(212, 13.7%, 40%, 0.8);
	margin-left: 49px;
	margin-right: 50px;
	padding: 0.5rem 0;
}
